{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static "css/styles.css" %}">
  <title>home</title>
</head>
<body>
  <div class="main">

    <div class="top">
      <h2>
        <a href="#">projects</a>
      </h2>
      <h2>
        <a href="">contact</a>
      </h2>
    </div>
    <div class="name">
      <h1>jackson lorran</h1>
    </div>
    <div class="bottom">
      <h2>Web Developer</h2>
    </div>
  </div>
</body>
</html>
