{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static "builds/style.css" %}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "imgs/apple-touch-icon.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "imgs/favicon-16x16.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "imgs/favicon-32x32.png" %}">
    <title>Projetos</title>
  </head>
  <body>
    <!-- Criando nosso cabealho -->
    <div class="header">
      <div class="clique">
        <div class="voltar">
          <h2><a href="{% url "home:home" %}"><</a></h2>
        </div>
        <div class="endpoints">
          <h2><a href="{% url "builds:builds" %}">Projetos</a></h2>
          <h2><a href="{% url "contacts:contacts" %}">contato</a></h2>
        </div>
      </div>
    </div>
    <!-- Fim do cabeçalho -->
    <div class="text-project">
      <h2>Projetos</h2>
      <p>alguns projetos que desenvolvi</p>
    </div>

    <div class="hr"></div>

    <!-- Começo dos projetos -->
    {% comment %} Início Projeto blog {% endcomment %}
      <a href="https://blogdojack.vercel.app/" target="_blank">
        <div class="projetos">
          <div class="projeto">
            <h3>Blog (DJANGO , PYTHON , HTML , CSS)</h3>
            <img src="{% static "imgs/blog.jpg" %}" alt="img-blog">
          </div>
      </a>
    {% comment %} Fim projeto blog {% endcomment %}

      {% comment %} Começo landing page {% endcomment %}
      <a href="https://landing-jack.netlify.app/" target="_blank">
        <div class="projeto">
          <h3>Landing-Page (HTML , CSS , JS)</h3>
          <img src="{% static "imgs/land.jpg" %}" alt="site-landing-page">
        </div>
      </a>
      {% comment %} Fim projeto landing page {% endcomment %}

      {% comment %} Começo projeto encurtador {% endcomment %}
      <a target="_blank" href="https://encurtador-simples.vercel.app/" >
          <div class="projeto">
            <h3>Encurtador (HTML , CSS)</h3>
            <img src="{% static "imgs/encurtador.jpg" %}" alt="site-encurtador">
        </div>
      </a>
      {% comment %} Fim projeto encurtador {% endcomment %}

      {% comment %} Começo projeto cópia Netflix {% endcomment %}
      <a href="https://netflixcop.vercel.app/" target="_blank">
        <div class="projeto">
          <h3>Clone Netflix</h3>
          <img src="{% static "imgs/netflix-copy.jpg" %}" alt="site-clone-netflix">
        </div>
      </a>
      {% comment %} Fim projeto cópia Netflix {% endcomment %}

      {% comment %} Começo projeto cópia Netflix {% endcomment %}
      <a href="https://pinguim-css.vercel.app/" target="_blank">
        <div class="projeto">
          <h3>Pinguim (HTML, CSS)</h3>
          <img src="{% static "imgs/pinguim-copy.jpg" %}" alt="site-penguim">
        </div>
      </a>
      {% comment %} Fim projeto cópia Netflix {% endcomment %}
      {% comment %} FIM DOS PROJETOS{% endcomment %}
      <div class="hr"></div>

    </div>
    <footer>
      <p>
        <a target="_blank" href="https://encurtador-simples.vercel.app/"
          >Feito com <span class="heart">❤</span> por Jack</a>
      </p>
    </footer>
      <div class="hr"></div>

  </body>
</html>