{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static "builds/style.css" %}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "imgs/apple-touch-icon.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "imgs/favicon-16x16.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "imgs/favicon-32x32.png" %}">
    <title>Projetos</title>
  </head>
  <body>
    
    <div class="header">
      <div class="clique">
        <div class="voltar">
          <h2><a href="{% url "home:home" %}"><</a></h2>
        </div>
        <div class="endpoints">
          <h2><a href="{% url "builds:builds" %}">Projetos</a></h2>
          <h2><a href="{% url "contacts:contacts" %}">contato</a></h2>
        </div>
      </div>
    </div>
    <div class="text-project">
      <h2>Projetos</h2>
      <p>alguns projetos que desenvolvi</p>
    </div>

    <div class="hr"></div>

    <div class="projetos">
      <div class="projetos-top">

        <div class="projeto-blog">
          <img src="{% static "imgs/blog.jpg" %}" alt="img-blog">
          <h3>
            <a href="https://jackson-lorran.vercel.app">Top-projeto🔗</a>
          </h3>
          <p>
            Lorem ipsum dolor sit amet.
          </p>
          <a href="https://github.com/JackDev085">Saiba-mais</a>
        </div>

        <div class="duo-projetos">
          <div class="projeto">
            <h3>
              <a href="#">Projeto-médio🔗</a>
            </h3>
            <p>
              Lorem ipsum dolor sit amet.
            </p>
            <a href="#">Saiba mais</a>
          </div>

          <div class="projeto">
            <h3>
              <a href="#">Projeto🔗</a>
            </h3>
            <p>
              Lorem ipsum dolor sit amet.
            </p>
            <a href="#">Saiba mais</a>
          </div>
        </div> 

          <div class="hr"></div>

          <div class="projeto">
            <h3>
              <a href="#">Projeto🔗</a>
            </h3>
            <p>
              Lorem ipsum dolor sit amet.
            </p>
            <a href="#">Saiba mais</a>
          </div>

          <div class="projeto">
            <h3>
              <a href="#">Projeto🔗</a>
            </h3>
            <p>
              Lorem ipsum dolor sit amet.
            </p>
            <a href="#">Saiba mais</a>
          </div>

          <div class="projeto">
            <h3>
              <a href="#">Projeto🔗</a>
            </h3>
            <p>
              Lorem ipsum dolor sit amet.
            </p>
            <a href="#">Saiba mais</a>
          </div>

          <div class="projeto">
            <h3>
              <a href="#">Projeto🔗</a>
            </h3>
            <p>
              Lorem ipsum dolor sit amet.
            </p>
            <a href="#">Saiba mais</a>
          </div>

          <div class="projeto">
            <h3>
              <a href="#">Projeto🔗</a>
            </h3>
            <p>
              Lorem ipsum dolor sit amet.
            </p>
            <a href="#">Saiba mais</a>
          </div>

          <div class="projeto">
            <h3>
              <a href="#">Projeto🔗</a>
            </h3>
            <p>
              Lorem ipsum dolor sit amet.
            </p>
            <a href="#">Saiba mais</a>
          </div>

          <div class="projeto">
            <h3>
              <a href="#">Projeto🔗</a>
            </h3>
            <p>
              Lorem ipsum dolor sit amet.
            </p>
            <a href="#">Saiba mais</a>
          </div>

          <div class="projeto">
            <h3>
              <a href="#">Projeto🔗</a>
            </h3>
            <p>
              Lorem ipsum dolor sit amet.
            </p>
            <a href="#">Saiba mais</a>
          </div>


      </div>
    </div>
    <footer>
      <p>
        <a target="_blank" href="https://encurtador-simples.vercel.app/"
          >Feito com <span class="heart">❤</span> por Jack</a>
      </p>
    </footer>
  </body>
</html>