:root{
  --bg : #000000;
  --lk : #ccc9dc;
}

*{
  margin: 0;
  pad: 0;
  box-sizing: border-box;
}
body{
  background: var(--bg); 
}
a{
  text-decoration: none;
  color: var(--lk);
  opacity: 80%;
}
a:hover{
  opacity: 100%;
}
.main{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
  overflow: hidden;
}

.stars{
  width: 1.5px;
  height: 1.5px;
  background-color: white;
  animation: movimento 100s infinite linear;
  border-radius: 10px;
  position: absolute;
  margin: 10px;
}


@keyframes movimento{
 0%{
    transform: translateY(-5vh) scale(1);
  }
  50%{
    transform: translateY(10vh) scale(1.5);
  }
  100%{
    transform: translateY(-5) scale(1);
  }
}

.top{
  width: 300px;
  height: 8vh;
  display:flex;
  flex-direction: row;
  justify-content: center;
}
.top h2{
  margin:8px;
  font-size: 20px;
}
.name{
  width: 80vw;
  height: 26vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.name h1{
  font-size:90px;
  text-shadow: 1px 2px 1px var(--bg); 
}
@media (max-width:800px){
  .name{
    width: 90vw;
    height: 20vh;
  }
  .name h1{
    font-size:50px;
  }
}
.bottom{
  width: 300px;
  height: 8vh;
  display:flex;
  flex-direction: row;
  justify-content: center;

}
.bottom h2{
  font-size: 30px;
  color: #9b9ba3;;
}
@media (max-width:800px) {
  .bottom h2{
  
    font-size: 26px;
  }
}
